node_modules/
tsp-output/
dist/
.tools/
*.log
**/bin/
**/obj/
**/target/
**/__pycache__/
**/*.egg-info/
**/build/
*.tgz
!tools/
!tools/typespec-ds/
!tools/typespec-ds/dist/
!tools/typespec-ds/dist/*.js
